.TAMANIO_GLOBAL {
	width:900px;
	height:550px;
}

.TAMANIO_GENERAL {
	width:760px;
	height:550px;
	background-image : url(../../imagenes/fondo.jpg);
}

.BODY {
	background:#000000;
}

.BODYIFRAME {
	scrollbar-face-color:#A78767;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#A78767;
	scrollbar-darkshadow-color:#A78767;
	scrollbar-shadow-color:#A78767;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#FAF4E8;
	background:#FAF4E8;
}

.CENTRO {
	background:#fcf7e8;
}	

.TITULO { 
        color:#FAF4E8; 
        font-weight: bold; 
        font-family:FONT-FAMILY: Lucida Sans Unicode,Arial,Helvetica,Tahoma,Verdana,sans-serif
        font-size:13px; 
}


.CABECERA { 
        color:#000066; 
        font-weight: bold; 
        font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif; 
        font-size:12px; 
}    

.LETRA { 
        color:#F00000; 
        font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif; 
        font-size:20px; 
}

.SENALADO { 
        color:#F00000; 
        font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif; 
        font-size:12px; 
}

.CELDA { 
	background: none transparent scroll repeat 0% 0%; 
        color:#000000; 
        font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif; 
        font-size:12px; 
}

.TEXTO { 
		background: none transparent scroll repeat 0% 0%; 
        color:#000000; 
        font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif; 
        font-size:10px;
}

.TEXTOFORO { 
		background: #efefb0; 
		    color:#000000; 
    	  font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif; 
      	font-size:13px; 
}

.INFORMACION { 
	background: none transparent scroll repeat 0% 0%; 
        color:#999933; 
        font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif; 
        font-size:12px;
}
 
.CURSIVA {
	background: none transparent scroll repeat 0% 0%;
	color:#000000;
	font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	font-size:12px;
	font-style : oblique;
}
 
.CURSIVAPEQ {
	background: none transparent scroll repeat 0% 0%;
	color:#000000;
	font-family:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	font-size:10px;
	font-style : oblique;
} 
           
.SELECTOR {
	FONT-SIZE: 10px; 
	COLOR: #666666; 
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;width:45px
}

.COPYRIGHT
{ 
	BACKGROUND: none transparent scroll repeat 0% 0%;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-SIZE : 12px;
	COLOR:#FAF4E8;
}

.FECHA
{ 
	BACKGROUND: none transparent scroll repeat 0% 0%;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 11px;
	COLOR:#000000;
}

.PARRAFO_SEPARADOR
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	color: #000000;
	font-family: Arial,Helvetica,Tahoma,Verdana,sans-serif;
	font-size: 11px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
}

.PARRAFO_MEDIEVAL
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	color: #000066;
	font-family: Lucida Sans Unicode,Arial,Helvetica,Tahoma,Verdana,sans-serif;
	font-size: 13px;
	margin-top:4px;
	margin-right:0px;
	margin-bottom:6px;
	margin-left:45px;
	text-align:justify;
	font-style : oblique;
}

A:link
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#000080;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
}
A:active
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#000080;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:normal;
}
A:visited
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#000080;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
}
A:hover
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#008800;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
}

.EN A:link
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#000000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 11px;
	text-decoration : none;
}
.EN A:active
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#000000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:normal;
	FONT-SIZE : 11px;
	text-decoration : none;
}

.EN A:visited
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#000000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 11px;
	text-decoration : none;
}

.EN A:hover
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#000000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:normal;
	FONT-SIZE : 11px;
	text-decoration : none;
}

.MAS
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#932733;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 10px;
	text-decoration : none;
}

.MAS A:link
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#932733;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 10px;
	text-decoration : none;
}

.MAS A:active
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#000000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:normal;
	FONT-SIZE : 10px;
	text-decoration : none;
}

.MAS A:visited
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#932733;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 10px;
	text-decoration : none;
}

.MAS A:hover
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#000000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:normal;
	FONT-SIZE : 10px;
	text-decoration : none;
}

.MAS2
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#932733;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 11px;
	text-decoration : none;
}

.MAS3
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#932733;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 12px;
	text-decoration : none;
}

.ENMENU 
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#FAF4E8;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 11px;
	text-decoration : none;
}

.ENMENU A:link
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#000000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 11px;
	text-decoration : none;
}
.ENMENU A:active
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#FAF4E8;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:normal;
	FONT-SIZE : 11px;
	text-decoration : none;
}
.ENMENU A:visited
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#000000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 11px;
	text-decoration : none;
}
.ENMENU A:hover
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#FAF4E8;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:normal;
	FONT-SIZE : 11px;
	text-decoration : none;
}

.ENMENUCOM A:link
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#AA0000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 11px;
	text-decoration : none;
}
.ENMENUCOM A:active
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#FAF4E8;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:normal;
	FONT-SIZE : 11px;
	text-decoration : none;
}
.ENMENUCOM A:visited
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#AA0000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 11px;
	text-decoration : none;
}
.ENMENUCOM A:hover
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#FAF4E8;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:normal;
	FONT-SIZE : 11px;
	text-decoration : none;
}

.ENROJO A:link
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#AA0000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 11px;
	text-decoration : none;
}
.ENROJO A:active
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#AA0000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:normal;
	FONT-SIZE : 11px;
	text-decoration : none;
}
.ENROJO A:visited
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#AA0000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:bold;
	FONT-SIZE : 11px;
	text-decoration : none;
}
.ENROJO A:hover
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR:#AA0000;
	FONT-FAMILY:Arial,Helvetica,Tahoma,Verdana,sans-serif;
	FONT-WEIGHT:normal;
	FONT-SIZE : 11px;
	text-decoration : none;
}

.ENCARTA 
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	color: #3B240B;
	font-family: Victorian LET;
	font-size: 13px;
	font-style : oblique;
	text-decoration : none;
}

.ENCARTA A:link
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	color: #3B240B;
	font-family: Victorian LET;
	font-size: 13px;
	font-style : oblique;
	text-decoration : none;
}
.ENCARTA A:active
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	color: #3B240B;
	font-family: Victorian LET;
	font-size: 13px;
	font-style : oblique;
	text-decoration : none;
}
.ENCARTA A:visited
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	color: #3B240B;
	font-family: Victorian LET;
	font-size: 13px;
	font-style : oblique;
	text-decoration : none;
}
.ENCARTA A:hover
{
	BACKGROUND: none transparent scroll repeat 0% 0%;
	color: #3B240B;
	font-family: Victorian LET;
	font-size: 13px;
	font-style : oblique;
	text-decoration : none;
}

#global
{	
	width:450px;
	height:280px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	background-image : url(../../imagenes/pergamino.gif);
	background-repeat: no-repeat;
}  

#arriba
{	
	position:relative;
	top:0px;
	left:215px;
	width:20px;
}

#scroll
{	
	position:relative;
	top:5px;
	left:215px;
	width:12px;
	height:225px;
	background-image : url(../../imagenes/cadenas.gif);
}

#abajo
{
	position:relative;
	top:10px;
	left:215px;
	width:20px;
}

#texto
{
	position:relative;
	top:0px;
	left:0px;
	width:400;
	height:300px;
	clip:rect(0,400,300,0);
}

#globalCarta
{	
	width:450px;
	height:235px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

#arribaCarta
{	
	position:relative;
	top:0px;
	left:215px;
	width:20px;
}

#scrollCarta
{	
	position:relative;
	top:5px;
	left:215px;
	width:12px;
	height:188px;
	background-image : url(../../imagenes/cadenas.gif);
}

#abajoCarta
{
	position:relative;
	top:10px;
	left:215px;
	width:20px;
}

#textoCarta
{
	position:relative;
	top:0px;
	left:0px;
	width:400;
	height:200px;
	clip:rect(0,400,200,0);
}