.logo{
  height: 28px;
  font-size: 32px;
}
.logo span{
  padding: 10px;
  margin: 0;
  font-weight: bold;
}
.logo .span_1{
  color: white;
  background-color: black;
}
.logo .span_2{
  color: lightblue;
  background-color: black;
}
#header{
  padding-bottom: 0;
}

.promotion-area{
  margin-top: -125px;
}

.promotion-div{
  background-color: #f7e8af38;
}

.open-hour-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.open-hour-wrap img{
  width: 22%;
}

.open-hour-wrap.calor img{
  width: 87%;
}

.banner-content img{
  height: 44px;
  border: 1px solid white;
  margin-top: -2px;
}
.open-hour-area{
  margin-top: -150px;
}

.feature-area.section-gap,
.footer-area.section-gap{
  padding: 40px 0 !important;
}

.banner-area .container > div {
  background-image: url(../img/conjunto.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 76%;
}

.banner-area .container.frio > div {
  background-image: url(../img/remote.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 76%;
}

.banner-area .overlay-bg {
  background-color: rgba(4,9,30,0.70);
}

@media (max-width: 415px){
  .logo{
    height: 20px;
    font-size: 20px;
  }
  .logo span{
    padding: 5px;
  }
  .header-top {
    padding: 0;
  }
  .header-top .header-top-right {
    padding-right: 0;
  }
}

@media (max-width: 360px){
  .logo{
    height: 18px;
    font-size: 18px;
  }
}

@media (max-width: 767.98px){
  .banner-area .fullscreen {
      height: 480px !important;
  }
}